version: "3.8"

services:
  backend:
    build: ./backend
    container_name: express-server
    ports:
      - "4000:4000"
    networks:
      - fullstack-net
    restart: unless-stopped
  frontend:
    build: ./frontend
    container_name: react-client
    ports:
      - "3000:3000"
    networks:
      - fullstack-net
    depends_on:
      - backend
    restart: unless-stopped

networks:
  fullstack-net:
    driver: bridge